.root {
  background-color: rgba(169, 218, 240, 0.2);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background-color: rgba(169, 218, 240, 0.3);
  }
}

:global(html.dark) .root {
  background-color: rgba(29, 107, 142, .2);

  &:hover {
    background-color: rgba(29, 107, 142, .3);
  }
}