@use '@/styles/variables.scss' as s;

.root {
  border: 1px solid #e7ebef;
  border-radius: 3px;
  padding: 8px 10px;
  outline: none;
  width: 100%;
  max-width: 250px;
  color: s.$base-text-color;
  &::placeholder {
    opacity: 0.5;
    color: s.$base-text-color;
  }
}

:global(html.dark) .root {
  background-color: transparent;
  border: 1px solid #313236;
  color: #d5d8db;
  &::placeholder {
    color: #d5d8db;
  }
}
