@use '@/styles/variables.scss' as s;

.root {
  margin-bottom: 25px;

  time {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
  }

  p {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
  }

  h1 {
    margin: 3px 0;
    font-size: 16px;
  }

  a:hover h1 {
    text-decoration: underline;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
